@media (min-width: 992px)
{
    .header-bg
    {
        background-image: url("img/header-bg.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.header
{
    padding-bottom: 15em;
}

.header .img-fluid
{
    width: 100%;
}

@media (max-width: 992px)
{
    .header .img-fluid
    {
        width: 80%;
    }
}

@media (min-width: 768px)
{
    .header
    {
        padding-bottom: 6em;
    }
}

.header .header-title
{
    font-weight: bold;
    font-size: 4em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 0.2em;
}

.header .header-desc
{
    font-size: 1em;
}

.header .header-button
{
    margin-top: 3em;
}

.header .header-button .col
{
    height: 100%;
}

.header .header-button button
{
    border-radius: 5em;
    font-size: 0.7em;
    width: 150px;
    height: 50px;
}

.features .col-12
{
    margin-bottom: 2em;
}

.features .col-md-4
{
    margin-bottom: 2.5em;
}

.features .choose
{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 1em;
}

.features .features-title
{
    font-weight: bold;
    margin-bottom: 0.8em;
}

.features img
{
    margin-bottom: 0.5em;
}

@media (min-width: 992px)
{
    .focus-bg
    {
        background-image: url("img/focus-bg.png");
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.focus
{
    padding-top: 8em;
    padding-bottom: 8em;
}

.focus .focus-title
{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.focus .focus-desc
{
    margin-bottom: 1em;   
}

.focus .progress
{
    margin-bottom: 2em;
}

.bar
{
    margin-top: 2em;
}

.bar .card
{
    width: 75%;
    border: none;
}

@media (min-width: 768px)
{
    .bar
    {
        width: 100%;
        margin-left: 1em;
        margin-top: 0;
    }
}

.bar .bar-subject
{
    font-size: 0.9em;
    margin-bottom: 0.5em;
    color: blue;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.bar .bar-college
{
    font-size: 0.9em;
    margin-bottom: 0.3em;
    color: purple;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.bar .bar-prep
{
    font-size: 0.9em;
    margin-bottom: 0.3em;
    color: orange;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.bar .progress
{
    border-radius: 2rem;
    height: 1.5em;
}

.footer
{
    margin-bottom: 5em;
}

@media (min-width: 992px)
{
    .footer-bg
    {
        background-image: url("img/3545760.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .footer .card-body
    {
        background-color: rgba(242, 241, 239, 0.6);
        border-radius: 40%;
    }
}

.footer .card
{
    margin-top: 5em;
    width: 42rem;
    border: none;
}

.footer .learn-title
{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    font-family: "Lato";
}

.footer .learn-desc
{
    text-align: center;
}

.footer .col
{
    text-align: center;
}

.footer .learn-button
{
    display: flex;
    justify-content: center;
    margin-bottom: 8em;
}

.footer button
{
    border-radius: 5em;
    font-size: 0.7em;
    width: 150px;
    height: 50px;
    margin-top: 3em;
}